:root {
  color-scheme: light;
  background-color: #f6f2ec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-display: "Iowan Old Style", "Palatino", "Book Antiqua", "Georgia", serif;
  --font-sans: "Gill Sans", "Trebuchet MS", "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}
