.checkbox {
  position: relative;
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.indicator {
  width: 24px;
  height: 24px;
  border-radius: 999px;
  border: 2px solid #d3c3b4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checkbox input:checked + .indicator {
  background: #1b1b1f;
  border-color: #1b1b1f;
  box-shadow: inset 0 0 0 4px #fffaf4;
}
